@font-face {
    font-family: "dongqingqing";
    src: url("dongqingqing.eot"); /* IE9 */
    src: url("dongqingqing.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("dongqingqing.woff") format("woff"), /* chrome、firefox */
    url("dongqingqing.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("dongqingqing.svg#dongqingqing") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


